# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Prisma
prisma/migrations/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Coverage
coverage/
